* {
  padding: 0;
  margin: 0;
}

html {
}

body {
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons {
  position: absolute;
  top: -100px;
  display: flex;
  flex-direction: row;
}

.button {
  margin-right: 6px;
  margin-left: 6px;
  padding: 6px 12px;
  border: 1px solid #999;
  border-radius: 4px;
  background: #ffffff;
}

.goBoard {
  /*box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.63);*/
}

.pop-up-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.pop-up-box {
  position: relative;
  top: 25%;
  left: 20%;
  width: 60%;
  background: rgb(187, 221, 242);
  border-radius: 4px;
}

.pop-up-content {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.pop-up-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(102, 102, 102);
}

.pop-up-button {
  min-height: 66px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(102, 102, 102);
}

.leaderboard-content {
  display: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.leaderboard-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;
  font-size: 20px;
  color: rgb(102, 102, 102);
}

.lb-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lb-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.lb-user-name {
  margin-left: 10px;
}

.lb-score {
}

#back-button {
  min-height: 54px;
  margin-top: 10px;
}
